<div class="jumbotron left softBanana newMinionForm">
  <h3>Criação de Minion</h3>
  <div class="form-group">
    <label for="minion_form_name">Nome</label>
    <input type="text" class="form-control" id="minion_form_name" 
          aria-describedby="minion_form_name_helper" placeholder="Name">
    <small id="minion_form_name_helper" class="form-text text-muted">
      Não pode ser nulo
    </small>   
  </div>
  <div class="form-group">
    <label for="minion_form_description">Descrição</label>
    <input type="text" class="form-control" id="minion_form_description" 
          aria-describedby="minion_form_description_helper" placeholder="Name">
    <small id="minion_form_description_helper" class="form-text text-muted">
      Não pode ser nulo
    </small>   
  </div>
  <div class="form-group">
    <label for="minion_form_price">Preço</label>
    <input type="text" class="form-control" id="minion_form_price" 
          aria-describedby="minion_form_price_helper" placeholder="Name">
    <small id="minion_form_price_helper" class="form-text text-muted">
      Não pode ser nulo, tem que ser ponto flutuante separado por . (não por virgula)
    </small>   
  </div>  
  <div id="new_minion_errors">
    
  </div>

  <div><button onclick="window.saveNewMinion()">Salvar</button></div>
</div>