@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 1200px) { 
    .img-responsive {
      max-width:200px;
      max-height:200px;
      width: auto;
      height: auto;
    }
  
}

@media screen and (max-width: 991px) {

     /* start of large tablet styles */
     .img-responsive {
      max-width: 50%;
      height: auto;

     }
}

@media screen and (max-width: 767px) {

     /* start of medium tablet styles */
     /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
     .img-responsive {
      max-width: 70%;
      height: auto;
     }
}

@media screen and (max-width: 479px) {

     /* start of phone styles */
     /* It's possible to hide the image if the screen becomes too small */
     .img-responsive {
      #max-width:100px;
      #max-height:100px;
      #width: auto;
      #height: auto;
      max-width: 100%;
      height: auto;
     }
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.invisible {
  display: none
}

////Tema dos minions - Amarelo e azul
.hardBanana {
  background-color: yellow;
}
.softBanana {
  background-color: #ffffcc;
}

.title {
  font-size: 2em;
  //letter-spacing: -2px;
  margin-bottom: 30px;
}

.blueText {
  color : blue;
}

.newHeader {
  overflow: hidden;
  padding: 20px 10px;

}

/* Float the link section to the right */
.newHeader-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.minionRow{
  padding-top: 8px; 
  background-color: #ffffee;
}

.minionDataBox {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  height: 100%;

}
.minionButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  
}

.minionNamePrice {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  .nameDiv {
    max-width: 75%;
    padding-right : 5px;
  }
  .priceDiv: {
    max-width: 25%;
  }
} 
