<div class="jumbotron center softBanana">
  <div class="form-inline">
    <input class="form-control" placeholder="nome do minion">
    <button class="btn btn-primary">Buscar</button>
  </div>
  <div class="container-fluid">
    <div id="minion_container" class="col red">
    </div>
  </div>
  
  <hr/>
  <div class="invisible">
      <div class="row minionRow" id="minionCardBase">
        <div class="col-xs-4 col-sm-4 ">
          <img class="img-responsive" src=<%=image_url('minion_placeholder.jpg')%>/>
        </div>
        <div class="col-xs-8 col-sm-8  minionDataBox">
          <div class="minionNamePrice"> 
            <div class="nameDiv">NOME MUITO GRANDE DEMAIS DA CONTA</div>
            <div class="priceDiv"><small class="priceDivText">PRECO</small></div>
          </div>
          <div class="minionButtons"> 
              <button class="btn btn-primary">+</button>
              <button class="btn btn-secondary">-</button>
          </div>
        </div>
      </div>
</div>
</div>
