<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MinionMania</title>
    <%= csrf_meta_tags %>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="newHeader blueText hardBanana">
      <span  class="title hardBanana">MINION MANIA</span>
      <div class="newHeader-right hardBanana">
        <a href="#">Sing in</a>
        <a href="#">Carrinho</a>
       <%= link_to "Novo Minion",   new_minion_form_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>

